DATABASE_URL=postgresql://root:postgress_pass@localhost:5432/db_event_management
DATABASE_TYPE=postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_password

JWT_SECRET=jwt_secret
JWT_PRIVATE_KEY=jwt_private_key
JWT_PUBLIC_KEY=jwt_public_key
JWT_EXPIRATION=jwt_expiration
JWT_REFRESH_SECRET=jwt_refresh_secret
JWT_REFRESH_EXPIRATION=jwt_refresh_expiration

COOKIE_SECRET=cookie_secret

PORT=4000
